
{% load dict_key %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        /* Custom Material Icon rules */
        .material-symbols-outlined.red{ color: red;}
        .material-symbols-outlined.md-400{font-size: 400px;}
    </style>
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        }
    </style>
    <link rel="stylesheet" href="{% static 'bag_app/styles.css' %}" />
</head>
<body>
    <div class="fixed-animated-bg"></div>
    <header class="main-header">
        <h1 class="main-header__title">BRAIN BAG</h1>
        <nav class="main-header__nav">
        </nav>
    </header>
    <aside class="collections">
        <a class="collections__add">C</a>
        <hr/>
        <a class="collections__item">A</a>
        <a class="collections__item">B</a>
    </aside>
    <aside class="bag-actions">
        <h2 class="bag-actions__title">Actions</h2>
        <a class="bag-actions_add" href="{% url 'create' %}">Create bag</a>
        <a href="{% url 'create-term' %}"> New Term</a>
        <a class="bag-actions__toggle" href="#">Show/hide disabled bags</a>        
        <a class="bag-actions__search" href="#">Filter by bag name</a>
    </aside>
    <div class="bags">
    {% for bag in bags %}
        <div class="bag" >
            <h2 class="bag__name"> {{ bag.name | title }}</h2>
            <a class="bag__add-term" href="#"><span class="material-icons">add_circle</span></a>
            <span alt="Bag svg" class="bag__svg material-symbols-outlined md-400" style="color: gold;">work</span>
            <ul class="bag__terms">
            {% for term in bag.term_set.all %}
                <li class="bag__terms__item" >
                    <span>
                        {% if term.url != "" %}
                            <a href="{{ term.url }}"> {{ term.name }}</a>
                        {% else %}
                        {{ term.name }}
                        {% endif %}
                    </span>
                    <span><a href="{% url 'edit-term' term.id %}">️<span class="material-symbols-outlined">edit</span></a></span>
                    <span>
                        <form action="{% url 'delete-term' term.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn-delete-term"><span class="material-symbols-outlined red">delete</span><</button>
                        </form>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    </body>
</html>