:root{
    /* Colors */
    --tone-dark-xx: black;
    --tone-dark-x: #0e031c;
    --tone-dark: #3d1052;
    --tone-med: #b3425d;
    --tone-light: #d9b58b;
    --tone-light-x: rgb(249, 238, 232);
   /* Dimensions */ 
   --header-height: 60px;
   --collections-aside-width: 60px;
   --actions-aside-width: 160px;
   /* Decorations */
   --delimiter-shadow: 0px 3px var(--tone-dark-xx);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--tone-med);
}

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    background: linear-gradient(90deg, var(--tone-dark-x), var(--tone-dark));
    box-shadow: 0px 2px var(--tone-light);
}

.main-header__title{}

.main-header__nav{}

.collections{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: var(--collections-aside-width);
    height: 100vh;
    background: var(--tone-dark-xx);
}

.collections *{
    visibility: hidden;
}

.bag-actions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    left: var(--collections-aside-width);
    top: 0;
    padding: 10px;
    width: var(--actions-aside-width);
    height: 100vh; 
    background: var(--tone-dark-x);
    box-shadow: 2px 0px var(--tone-light-x);
    gap: 10px;
}

.bag-actions__title{
    position: relative;
    height: var(--header-height);
}

.bag{
    position: relative;
    display: inline-block; 
    width: 400px;
    height: 400px;
}

.bag:hover{
    transform: scale(1.05);
    cursor: pointer;
}

a, a:visited{
    color: var(--tone-light-x);
}

h1{
    text-align: center;
}

.bag__name{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top:0;
    transform: translate(-50%, -50%);
    opacity: 0.85;
}

.bag__svg{
    position: absolute;
    top: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.bag__terms{
    list-style-type: none;
    position: absolute;
    left: 50%;
    top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 10px;
    width: 300px;
    transform: translateX(-50%);
}

.bag__terms__item:hover{
    transform: scale(1.2);
}

.bags{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left: var(--collections-aside-width);
}

.btn-delete-term{
    background: none;
    border: none;
    box-shadow: none;
}

/* Utilities and decorations */
@keyframes background-animation{
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.fixed-animated-bg{
    position: fixed;
    z-index: -1;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(0deg, var(--tone-dark-x),  var(--tone-dark));
    background-size: 200% 200%;
    animation-name: background-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}