:root{
    /* Colors */
    --tone-dark-xx: black;
    --tone-dark-x: #0e031c;
    --tone-dark: #1c4570;
    --tone-med: #424ab3;
    --tone-light: #d9b58b;
    --tone-light-x: rgb(249, 238, 232);
   /* Dimensions */ 
   --header-height: 60px;
   --vertical-menu-width: 220px;
   /* Decorations */
   --delimiter-shadow: 0px 3px var(--tone-dark-xx);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    color: var(--tone-med);
    overflow-x:hidden;
    overflow-y: scroll;
}

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--vertical-menu-width);
    height: var(--header-height);
    /* background: linear-gradient(90deg, var(--tone-dark-x), var(--tone-dark)); */
    background: transparent;
    /* box-shadow: 0px 2px var(--tone-light); */
}

.main-header__title{
    color: var(--tone-light-x);
}

.vertical-menu{
    position: fixed;
    width: var(--vertical-menu-width);
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.vertical-menu__columns{
    position: relative;
    left: 0;
    top: var(--header-height);
    display: flex;
    flex-direction: row;
}

.vertical-menu__collections{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    background: var(--tone-dark-xx);
}


.collections__item{
    width: 90%;
    padding-top: 100%; 
    background: var(--tone-light-x);
    margin: 10px 0;
    border-radius: 50%;
}

.vertical-menu__bag-actions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    flex: 3;
    height: 100vh; 
    background: var(--tone-dark-x);
    /* box-shadow: 2px 0px var(--tone-light-x); */
    gap: 10px;
    z-index: 1;
    border-top-right-radius: 20px;
}

.bag-actions__title{
    position: relative;
    height: var(--header-height);
}

.bag{
    position: relative;
}

.bag:hover{
    transform: scale(1.05);
    transform-origin: top center;
    cursor: pointer;
}

a, a:visited{
    color: var(--tone-med);
}

h1{
    text-align: center;
}

.bags-columns{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: var(--header-height);
    justify-content: center;
    position: absolute;
    top: 0;
    left: var(--vertical-menu-width);
    gap: 20px;
    width: calc(100vw - var(--vertical-menu-width));
    padding: 20px 40px;
}

.bags-columns__column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    width: 30%;
    flex-grow: 1;
}

.bag{
    min-height: 256px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bag__header{
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bag__header__name{
    display: inline-block;
    text-align: center;
    position: relative;
    background: var(--tone-light-x);
    padding: 10px;
    min-width: 50%;
    border-radius: 10px 10px 0px 0px;
    color: var(--tone-med);
}

.bag__body{
    position: relative;
    background: var(--tone-light-x);
    padding: 20px 20px;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
}

.bag__body__terms{
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 10px;
}

.bag__body__terms__item{
    display: flex;
    flex-direction: row;
}

.bag__body__terms__item:hover{
    transform: scale(1.2);
}


.btn-delete-term{
    background: none;
    border: none;
    box-shadow: none;
}

/* Utilities and decorations */
@keyframes background-animation{
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.fixed-animated-bg{
    position: fixed;
    z-index: -1;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(0deg, black,  var(--tone-dark));
    background-size: 200% 200%;
    animation-name: background-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

